:root {
  --text-color-header: rgb(139, 139, 139);
  --text-color-header-icon: rgb(91, 88, 88);
  --text-color-icon-bell: rgb(255, 143, 0);
}



body {
  font-family: 'Roboto', sans-serif;
}

.debug{
  border: 1px solid black;
}


/* HEADER */

header {
  height: 70px;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  color: var(--text-color-header);
}

.search-bar{
  width: 70%;
  /* flex-grow: 1;
  flex-shrink: 1; */
}

header .logo,
header .icon {
  width: 10% ;
}

input {
  width: 100%;
}

.icon {
  display: inline-block;
  /* padding-right: 5px; */
}

.icon-none {
  color: var(--text-color-icon);
}

.notifiche {
  color: var(--text-color-icon-bell);
}

/* /HEADER */


/* ASIDE */
aside {
  width: 150px;
  height: 100vh;
  background-color: rgb(5, 30, 52);
  background-image: url(/img/sidebar-bg.png);
  position: fixed;
  top: 70px;
  left: 0;
  z-index: 9998;
}
/* .container {
  display: flex;
  flex-direction: column;
} */
  
/* .aside-top {
  display: flex;
  align-items: start;
  display: inline;
}

.aside-bottom {
  display: flex;
  align-items: end;
} */

/* /ASIDE */

/* TOP BLU */

  .er-container{
    width: 90%;
    margin-left: 150px;
  }
  
  .top-blu {
    background-color: rgb(27, 114, 232);
    height: 20%;
    width: 100%;
    margin-top: 70px;
    padding-left: 10px;
  }


  .col-sx {
    width: 65%;
    background-color: #cf5b5b;
    height: 100%;
  }

  .col-dx {
    width: 35%;
    background-color: #d1e24b;
    height: 100%;
  }
/* /TOP BLU */


.content {
  /* margin-top: 70px; */
  margin-left: 150px;
}







/* MEDIA QUERY */
@media screen and (max-whidth: 764px){
  
}