:root {
  --text-color-header: rgb(139, 139, 139);
  --text-color-header-icon: rgb(91, 88, 88);
  --text-color-icon-bell: rgb(255, 143, 0);
}



body {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(248, 249, 250);
  overflow-y: hidden;
  scroll-behavior: smooth;
}

.debug{
  border: 1px solid black;
}


/* HEADER */

header {
  height: 70px;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  color: var(--text-color-header);
}

header i {
  color: rgb(91, 88, 88);
}

.search-bar{
  width: 75%;
  background-color: rgb(229, 229, 229);
}

header .logo,
header .icon {
  width: 10% ;
}

.spec{
  margin-left: -4.5px;
}

.spec2{
  margin-left: -2px;
}

input {
  width: 100%;
}

.form-control {
  background-color: rgb(229, 229, 229);
  border: none;
}

.form-control:focus {
  background-color: rgb(229, 229, 229);
  border: none;
  box-shadow: none;
}

.icon {
  display: inline-block;
  /* padding-right: 5px; */
}

.icon-none a{
  color: var(--text-color-icon);
}

.notifiche {
  color: var(--text-color-icon-bell);
}

img {
  width: 100%;
}

header .icon i{
  cursor: pointer;
}

/* /HEADER */


/* ASIDE */
.aside {
  width: 150px;
  /* height: 100vh; */
  background-color: rgb(5, 30, 52);
  background-image: url(/img/sidebar-bg.png);
  position: fixed;
  top: 0px;
  left: 0;
  z-index: 9998;
  height:calc(100vh - 70px);
  
}


.admin {
  height: 90px;
}

.container {
  display: flex;
  flex-direction: column;
}
  
 .aside-top {
  display: flex;
  align-items: start;
  display: inline;
}

.aside-bottom {
  display: flex;
  align-items: end;
} 

.aside-icon {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aside-icon:hover {
  background-color: #313030;
  background-size: 10px;
}

/* /ASIDE */

/* TOP BLU */

.er-container{
  width:calc(100vw - 150px);
  height:calc(100vh - 70px);
  overflow-x: hidden;
  overflow-y: scroll;
  margin-left: 150px;
 } 

  
.top-bar {
  background-color: rgb(27, 114, 232);
  height: 20%;
  width: 100%;
  margin-top: 70px;
} 

/* /TOP BLU */


/* CONTENT */
.box {
 border: 1px solid rgb(220, 220, 220);
 background-color: rgb(247, 247, 247);;
 margin-bottom: 10px;
 overflow: hidden;
}

.box-todo {
  border: 1px solid rgb(220, 220, 220);
  background-color: rgb(247, 247, 247);
  margin-bottom: 10px;
  overflow: hidden;
  background-color: ;
 }

/* PROSSIME CLASSI */

.image-logo{
  object-fit: contain;
  width: 25px;
  height: 25px;
  border-radius: 50%;

}

.divisore {
  border-bottom: 1px solid rgb(228, 231, 234);
  margin: 0 10px;
}

.divisore-big {
  border-bottom: 2px solid rgb(228, 231, 234);
  padding-left: 0;
}

.divisore-reverse {
  border-bottom: 1px solid rgb(228, 231, 234);
}


/* UTENTI ATTIVI */
.box-todo img{
  object-fit: contain;
  width: 100%;
  height: 80%;
}

.font-small {
  font-size: .9rem;
  display: block;
}


.er-d-none {
  display: none;
}


.w-data {
  width: 100px;
}

.w-roi {
  width: 100px;
}

.w-stato {
  width: 100px;
}

.w-azioni {
  width: 100px;
}





/* MEDIA QUERY */
@media screen and (max-width: 767px){
  .er-container {
    width:calc(100vw - 70px);
    margin-left: 70px;
  }
  .aside {
    width: 70px;
  }
  .aside-icon{
    text-align: center;
  }
  .w-stato,
  .w-azioni {
    width:calc(100% / 3);
  }

  .w-data,
  .w-roi {
    width: 0;
  }
 
  
}